html{
    margin: 0;
    padding: 0;
}

p {
    color: red;
}

img {
    width: 100px;
}

.second-header-2 {
    background-color: blueviolet;
}

#the-paragraph {
    color: #ffffff;
}

.king {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 20px;
}

.HeroSection{

    height: 100vh;
    background-image: url('https://images.adsttc.com/media/images/62f9/f612/f08d/d154/37e4/400c/slideshow/can-artificial-intelligence-systems-like-dall-e-or-midjourney-perform-creative-tasks_3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}