* {
    background-color: black;
    color: #ffffff;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    margin: 5px;
    border-color: blue;
    border-style: solid;
    border-width: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    * {
        background-color: aquamarine;
    }
    .parent {
        flex-direction: row;
    }
    .subparent {
        margin: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .parent {
        flex-direction: row;
        width: 100%;
    }
    .subparent {
        width: 100%;
        justify-content: space-evenly;
        display:flex;
        flex-direction: row;
    }
}